@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

aside a {
    text-decoration: none !important;
}

/* Adicione estas classes ao seu CSS para ter botões extra-pequenos */
.btn-xs {
    padding: 0.1rem 0.4rem; /* Reduz o padding */
    font-size: 1.3rem;     /* Reduz o tamanho da fonte */
    line-height: 1;
    border-radius: 0.2rem;
}
